.w-50 {
    width: 50% !important;
}

.card-content {
    padding: 0px !important;
}
.tab {
    a {
        padding: 0px !important;
    }
}
.tabs .tab a {
    color: black;

    &:focus {
        background-color: transparent;
    }

    &:hover {
        color: #607d8b ;
    }
}
.tabs .tab a.active {
    color: black;

    &:focus {
        background-color: transparent;
    }

    &:hover {
        color: #607d8b ;
    }
}
.card-opt {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    margin: 0px;
    padding: 0px;

    &:focus {
        background-color: transparent !important;
    }
}

.tabs .indicator {
    background-color: #4caf50;

}

.indicator-yellow {

    .active {
        color: #000000 !important;
    }

    a:focus {
        background-color: transparent !important;
    }

    .indicator {
        background-color: #ffeb3b;
    }
}


.indicator-blue {
    .active {
        color: #000000 !important;
    }

    a:focus {
        background-color: transparent !important;
    }

    .indicator {
        background-color: #42a5f5;
    }
}

.indicator-cyan {
    .active {
        color: #000000 !important;
    }

    a:focus {
        background-color: transparent !important;
    }

    .indicator {
        background-color: #26c6da;
    }
}

.indicator-orange {
    .active {
        color: #000000 !important;
    }

    a:focus {
        background-color: transparent !important;
    }

    .indicator {
        background-color: #ff9100;
    }
}

.indicator-pink {
    .active {
        color: #000000 !important;
    }

    a:focus {
        background-color: transparent !important;
    }

    .indicator {
        background-color: #e13296;
    }
}

.indicator-darkblue {
    .active {
        color: #000000 !important;
    }

    a:focus {
        background-color: transparent !important;
    }

    .indicator {
        background-color: #051937;
    }
}