.loginPageWrapper {
    background: url(../img/black-rock-tiles.jpg);
    width: 100%;
    min-height: 100vh;
    display: flex; 
    flex-direction: column;
    justify-content: center;

    form {
        padding: 24px;
        border-radius: 5px;
        position: relative;
    }
    
    .mb {
        margin-bottom: 10px;
    }

    .conPad {
        padding-top: 48px;
        padding-bottom: 48px;
    }

    a {
        color: inherit;
    }

    .centered {
        display: flex;
        justify-content: center;
    }

    .details {
        margin-top: 38px;
    }
}

.stretched {
    width: 100%;
}

.centered {
    display: flex;
    justify-content: center;
}

#roleDD {
    width: 100%;
}


.authAction {
    // background-image: linear-gradient(to top, #4481eb 0%, #04befe 100%);
    background-color: #222222 !important;

    &:hover {
        background-color: #ffffff !important;
        color: #222222;
    }
}

.login-header {
    background-image: linear-gradient(to right, #ff758c 0%, #ff7eb3 100%);
    display: block;
    padding: 15px;
    border-radius: 2px;
    width: 98%;
    margin-left: 1%;
    margin-bottom: -8%;
    position: relative;
    z-index: 2;
    h2 {
        margin: 0;
    }
}

.login-body {
    display: inline-block;
    height: 100%;
    width: 100%;
    background-color: white;
    padding: 10% 25px 25px 25px;
    position: relative;
    z-index: 1;
}
